// 
// Article
// 

.article.masthead {
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 10rem;
}

.article {

    padding-bottom: 3rem;


    .author {
        font-size: 0.875rem;
    }

    .container {
        max-width: 1200px;
    }


    .header-logo {
        position: absolute;
        bottom: 10px;
        right: 10px;

        img {
            height: 60px
        }
    }

}