.goals {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .goals-item {
        max-width: 20rem;

        .goals-icon {
            height: 7rem;

            i {
                font-size: 4.5rem;
            }
        }
    }
}