// 
// Masthead
// 

header.masthead {
    position: relative;
    background-color: $gray-800;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7)), url('../assets/img/bg-masthead.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;

    &:before {
        content: '';
        position: absolute;
        background-color: mix($gray-900, $primary, 75%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
    }

    h1 {
        font-size: 4rem;
    }

    @media (min-width: 768px) {
        padding-top: 12rem;
        padding-bottom: 12rem;

        h1 {
            font-size: 3rem;
        }
    }

    .ble-logo {
        position: absolute;
        bottom: 10px;
        right: 10px;

        img {
            height: 60px
        }
    }

    @media (min-width: 768px) {

        .ble-logo {
            bottom: 18px;
            right: 18px;

            img {
                height: 80px
            }
        }
    }

}