// 
// Problem
// 

.problem {
    padding-top: 7rem;

    .problem-text {
        padding: 3rem;
    }

    .problem-img {
        min-height: 30rem;
        background-size: cover;
    }

    @media (min-width: 768px) {
        .problem-text {
            padding: 7rem;
        }
    }
}