doctype html
html(lang='de')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='BLE Förderprojekt zur Entwicklung und Demonstration einer offenen und skalierbaren Circular Collaboration Plattform (CCP) für nachhaltige Lebensmittelverpackungen aus Kunststoff')
        meta(name='author', content='')

        title COPPA Förderprojekt - Circular Plastic Economy

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        link(rel='preload' href='assets/img/logo/xs.png' as='image')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // AOS
        link(href='https://unpkg.com/aos@2.3.1/dist/aos.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body(data-bs-spy="scroll" data-bs-target="#coppa-navbar")

        // Navigation
        nav.navbar.fixed-top.navbar-expand-lg.bg-light.shadow(id="coppa-navbar")
            .container
                a.navbar-brand.me-5(href='#')
                    h1.text-primary.navbar-logo
                        | C
                        img(src='assets/img/logo/md.png', alt='COPPA')
                        | PPA

                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-label='Toggle navigation')
                    span.navbar-toggler-icon

                .collapse.navbar-collapse(id='navbarNav')
                    ul.navbar-nav.navbar-nav-scroll(role="tablist")
                        li.nav-item
                            a.nav-link(href="/news") News
                        li.nav-item
                            a.nav-link(href="#goals") Goal
                        li.nav-item
                            a.nav-link(href="#workingpackages") Solutions
                        li.nav-item
                            a.nav-link(href="#partners") Partner
                    

        // Masthead
        header.masthead
            .container.position-relative
                .row.justify-content-evenly
                    .col-xl-6.align-self-center
                        .text-center.text-xl-end.text-white
                            // Page heading
                            h1 COPPA
                            h2.text-secondary.mb-5 Open Circular-Collaboration-Platform for Sustainable Food Packaging from Plastics

                    .col-6.col-xl-3.align-self-center.rotating
                        img.w-100(src='assets/img/logo/lg.png', alt='COPPA', data-aos='spin-in', data-aos-duration='2000')

            .ble-logo
                a(href='https://www.ble.de')
                    img.shadow.rounded(src='assets/img/ble_kombilogo.png', data-aos='fade-left', data-aos-delay='2000')


        // Icons Grid
        section.goals.bg-light.text-center.pt-5(id="goals")
            .container
                
                h2.mb-5 Goal
                
                .row.justify-content-center.align-items-center
                    .col-lg-6
                        h5.text-primary.m-5 Entwicklung und Demonstration einer offenen und skalierbaren Circular Collaboration Plattform (CCP) für nachhaltige Lebensmittelverpackungen aus Kunststoff. Durch die Zusammenarbeit entlang der Wertschöpfungskette wird ein Mehrwert für alle Stakeholder geschaffen. 
                        .row.justify-content-center
                            .col-8.col-md-6.text-start.text-muted
                                ol
                                    li Rohstoffproduzent*innen
                                    li Hersteller*innen
                                    li Abfüller*innen
                                    li Retailer*innen
                                    li Abfallsortierung
                                    li Recycler*innen

                    .col-lg-6
                        img.w-100(src='assets/img/New_Kreislauf.png', alt='COPPA Goals' data-aos='fade-left', data-aos-duration='1000' data-aos-delay='500')

                .row.justify-content-center.align-items-center
                    .col-lg-6.order-lg-2
                            h5.text-primary.m-5 Digitaler Produktpass der Verpackung mit Informationen zu
                            .row.justify-content-center
                                .col-8.col-md-6.text-start.text-muted
                                    ol
                                        li Inhaltsstoffen
                                        li Rezyklatgehalt
                                        li Rezyklatherkunft
                                        li Schätzung des CO2-Fußabdruck

                    .col-lg-6.order-lg-1
                        img.w-100(src='assets/img/R_Cycle_Produktpass.jpg', alt='COPPA Produktpass' data-aos='fade-right', data-aos-duration='1000' data-aos-delay='500')

                    


        // Image problems
        section.problem
            .container-fluid.p-0
                h2.text-center.mb-5 Motivation
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.problem-img(style="background-image: url('assets/img/Muellberg.jpg');")
                    .col-lg-6.order-lg-1.my-auto.problem-text
                        h2 Niedrige Recyclingquote
                        p.lead.mb-0
                            | Trotz steigender Mengen an Verpackungsmüll, werden aktuell kaum Kunststoffverpackungen von Lebensmittel recycelt und in den Kreislauf zurückgeführt
                .row.g-0
                    .col-lg-6.text-white.problem-img(style="background-image: url('assets/img/New_Intransparenz.png');")
                    .col-lg-6.my-auto.problem-text
                        h2 Intransparenz
                        p.lead.mb-0
                            | Informationsdefizite von Rezyklatanteil, -herkunft und -qualität von Kunststoffmaterialien
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.problem-img(style="background-image: url('assets/img/bg-showcase-3.jpg');")
                    .col-lg-6.order-lg-1.my-auto.problem-text
                        h2 Standards & Kooperation
                        p.lead.mb-0
                            | Mangelnde Kooperation von möglichen Partnern einer Kreislaufwirtschaft durch fehlende Standards und technische Umsetzungen

        section.working-package.text-center.bg-light(id="workingpackages")
            .container
                h2.mb-5 Solutions

                // AP1
                .row.py-5.my-5
                    .col-lg-5.text-start.my-3
                        .package-header(data-aos='fade-right')
                            h3.text-primary AP 1
                            .progress.mt-2.mb-3(style="height: 5px;")
                                .progress-bar.bg-secondary(role='progressbar' style="width: 30%;" aria-valuenow='30' aria-valuemin='0' aria-valuemax='100')
                            h3.text-muted Design digitales Szenario
                        .package-description(data-aos='fade-right', data-aos-delay='300')
                            p Das AP1 legt den Grundstein für die weiteren Arbeiten im Projektverlauf. Hier wurde in Gesprächen mit Industrievertretern ermittelt, was genau die CCP leisten muss, um einen Mehrwert für die beteiligten Unternehmen zu schaffen, wie sich die Plattform gut in bestehende Workflows und Ökosysteme einfügen kann und welche Fehler bei der Umsetzung vermieden werden sollten. Im weiteren Projektverlauf werden die entwickelten Lösungen vorgestellt und weiteres Verbesserungspotential identifiziert.

                            //a.btn.btn-outline-primary.mb-lg-0.mb-5.mt-3(href='#')
                                p.mb-0 Mehr erfahren

                    .col-lg-7.text-lg-end.text-start
                        .package-image(data-aos='fade-left' data-aos-delay='800')
                            img(src='assets/img/wp/1.WebP' alt='AP1')
                
                // AP2
                .row.py-5.my-5
                    .col-lg-5.order-lg-2.text-start.my-3
                        .package-header(data-aos='fade-left')
                            h3.text-primary AP 2
                            .progress.mt-2.mb-3(style="height: 5px;")
                                .progress-bar.bg-secondary(role='progressbar' style="width: 85%;" aria-valuenow='85' aria-valuemin='0' aria-valuemax='100')
                            h3.text-muted Transparency and trust system
                        .package-description(data-aos='fade-left', data-aos-delay='300')
                            p The aim of developing a decentralised platform requires a high degree of trust-creating technology, as it is not possible to establish personal trust with all players. The CCP therefore relies on the exchange of exclusively signed data and an SSI-based trust system.
                            a.btn.btn-outline-primary.mb-lg-0.mb-5.mt-3(href='assets/files/trust.pdf')
                                p.mb-0 Mehr erfahren
                                    // i.bi.bi-info-lg

                    .col-lg-7.order-lg-1.text-lg-start.text-end
                        .package-image(data-aos='fade-right', data-aos-delay='800')
                            img(src='assets/img/wp/2.WebP' alt='AP2')

                // AP3
                .row.py-5.my-5
                    .col-lg-5.text-start.my-3
                        .package-header(data-aos='fade-right')
                            h3.text-primary AP 3
                            .progress.mt-2.mb-3(style="height: 5px;")
                                .progress-bar.bg-secondary(role='progressbar' style="width: 10%;" aria-valuenow='10' aria-valuemin='0' aria-valuemax='100')
                            h3.text-muted Platform (CCP)
                        .package-description(data-aos='fade-right', data-aos-delay='300')
                            p The digital platform connects the various data streams, trust sources and external systems to the COPPA product passport and offers a low entry barrier for stakeholders to the COPPA ecosystem.
                            a.btn.btn-outline-primary.mb-lg-0.mb-5.mt-3(href='https://coppa.praqtics.com/home')
                                p.mb-0 Register here

                    .col-lg-7.text-lg-end.text-start
                        .package-image(data-aos='fade-left', data-aos-delay='800')
                            img(src='assets/img/wp/3.WebP' alt='AP3')


                // AP4
                .row.py-5.my-5
                    .col-lg-5.order-lg-2.text-start.my-3
                        .package-header(data-aos='fade-left')
                            h3.text-primary AP 4
                            .progress.mt-2.mb-3(style="height: 5px;")
                                .progress-bar.bg-secondary(role='progressbar' style="width: 0%;" aria-valuenow='0' aria-valuemin='0' aria-valuemax='100')
                            h3.text-muted Business model
                        .package-description(data-aos='fade-left', data-aos-delay='300')
                            p The platforms business model is developed to be circular, scalable and open. Additionally a common digital language and solutions for data collection and processing, the digital life cycle file for plastics, localisation and typification of plastics and integration of medium-sized companies are developed.

                            //a.btn.btn-outline-primary.mb-lg-0.mb-5.mt-3(href='#')
                                p.mb-0 Mehr erfahren
                                    i.bi.bi-info-lg

                    .col-lg-7.order-lg-1.text-lg-start.text-end
                        .package-image(data-aos='fade-right', data-aos-delay='800')
                            img(src='assets/img/wp/4.WebP' alt='AP4')


                // AP5
                .row.py-5.my-5
                    .col-lg-5.text-start.my-3
                        .package-header(data-aos='fade-right')
                            h3.text-primary AP 5
                            .progress.mt-2.mb-3(style="height: 5px;")
                                .progress-bar.bg-secondary(role='progressbar' style="width: 20%;" aria-valuenow='20' aria-valuemin='0' aria-valuemax='100')
                            h3.text-muted Ecosystem
                        .package-description(data-aos='fade-right', data-aos-delay='300')
                            p As a value creation system, the plastics and packaging industries form their own economic ecosystem that cannot be considered closed at any time. An analysis of the plastics food packaging industry using business ecosystem mapping forms the basis for the subsequent design of the future application ecosystem using ecosystem design methods. Recommendations for action for companies to tap into potential network effects and enter the new application ecosystem are also developed.

                            a.btn.btn-outline-primary.mb-lg-0.mb-5.mt-3(href='ap5.html')
                                p.mb-0 Mehr erfahren

                    .col-lg-7.text-lg-end.text-start
                        .package-image(data-aos='fade-left', data-aos-delay='800')
                            img(src='assets/img/wp/5.WebP' alt='AP5')

                // AP6
                .row.py-5.my-5
                    .col-lg-5.order-lg-2.text-start.my-3
                        .package-header(data-aos='fade-left')
                            h3.text-primary AP 6
                            .progress.mt-2.mb-3(style="height: 5px;")
                                .progress-bar.bg-secondary(role='progressbar' style="width: 0%;" aria-valuenow='0' aria-valuemin='0' aria-valuemax='100')
                            h3.text-muted Carbon Footprint
                        .package-description(data-aos='fade-left', data-aos-delay='300')
                            p The platfom includes an automated calculation of the carbon footprint based on the information in the product passport.  

                            //a.btn.btn-outline-primary.mb-lg-0.mb-5.mt-3(href='#')
                                p.mb-0 Mehr erfahren
                                    i.bi.bi-info-lg

                    .col-lg-7.order-lg-1.text-lg-start.text-end
                        .package-image(data-aos='fade-right', data-aos-delay='800')
                            img(src='assets/img/wp/6.WebP' alt='AP6')
                            //img(src='assets/img/New_AP6' alt='AP6')

                // AP7
                .row.py-5.my-5
                    .col-lg-5.text-start.my-3
                        .package-header(data-aos='fade-right')
                            h3.text-primary AP 7
                            .progress.mt-2.mb-3(style="height: 5px;")
                                .progress-bar.bg-secondary(role='progressbar' style="width: 50%;" aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
                            h3.text-muted News & Publications
                        .package-description(data-aos='fade-right', data-aos-delay='300')
                            p Podcast, whitepaper, press releases and more

                            a.btn.btn-outline-primary.mb-lg-0.mb-5.mt-3(href='/news')
                                p.mb-0 Zu den News

                    .col-lg-7.text-lg-end.text-start
                        .package-image(data-aos='fade-left', data-aos-delay='800')
                            img(src='assets/img/wp/7.WebP' alt='AP7')
        
        // Testimonials
        section.testimonials.text-center(id="partners")
            .container
                h2.mb-5 About Us
                .row.g-5
                    .col-lg-6
                        .testimonial-item.mx-3.mx-md-auto.mb-5.m-lg-5
                            a(href='https://www.skz.de/' target='_blank')
                                img.img-fluid.rounded-circle(src='assets/img/skz_logo.png', alt='SKZ')
                                h5.my-3 SKZ - Das Kunststoffzentrum
                            p.font-weight-light.mb-0.text-start.text-md-center SKZ - The Plastics Centre - a member of the Zuse Association - is a leading international institute in the plastics industry with more than 430 employees in the fields of testing, research, knowledge transfer and certification. In the non-profit SKZ - KFE gGmbH, activities in the field of "Education and Research" are carried out in the areas of process improvement, material and product development, sustainability and circular economy, measurement and testing technology as well as digitalisation. The topic of sustainability and the circular economy has been dealt with in a separate working group for 16 years. Since 2019, the SKZ has also set up its own digitalisation working group to pool existing activities in this area.
                    .col-lg-6
                        .testimonial-item.mx-3.mx-md-auto.mb-5.m-lg-5
                            a(href='https://www.skz.de/' target='_blank')
                                img.img-fluid.rounded-circle(src='assets/img/wi_logo.png', alt='WI')
                                h5.my-3 Wuppertal Institut für Klima, Umwelt, Energie
                            p.font-weight-light.mb-0.text-start.text-md-center Sustainability research at the Wuppertal Institute focusses on resource-, climate- and energy-related challenges and their relationship to the economy and society. The Institute develops models, strategies and instruments for the transition to sustainable development at local, national and international level. Among other things, the Circular Economy Department investigates the digital circular economy with a view to optimising resource efficiency through the recyclability of raw materials, reuse and repair of products to save resources, avoid waste and close loops.

                    .col-lg-6
                        .testimonial-item.mx-3.mx-md-auto.mb-5.m-lg-5
                            a(href='https://www.skz.de/' target='_blank')
                                img.img-fluid.rounded-circle(src='assets/img/fir_logo.png', alt='FIR an der RWTH')
                                h5.my-3 FIR an der RWTH Aachen
                            p.font-weight-light.mb-0.text-start.text-md-center The Research Institute for Rationalisation e.V. (FIR) is an affiliated institute at RWTH Aachen University with 60 scientific employees in the field of research and development of business organisation methods and models. Its expertise is reflected in around 50 third-party funded projects and over 80 industrial consultancy mandates per year. The focus here is on topics relating to production, information and service management as well as business transformation. The latter deals with the phenomena, processes and methods of corporate transformation. In particular, the topics of business ecosystem design and digital leadership are the focus of research.
                    .col-lg-6
                        .testimonial-item.mx-3.mx-md-auto.mb-5.m-lg-5
                            a(href='https://www.eecc.info/' target='_blank')
                                img.img-fluid.rounded-circle(src='assets/img/eecc.png', alt='EECC')
                                h5.my-3 European EPC Competence Center
                            p.font-weight-light.mb-0.text-start.text-md-center The European EPC Competence Centre GmbH (EECC) was founded in 2004 by GS1 Germany, Deutsche Post DHL and METRO GROUP. Today, the EECC is a leading partner for all aspects of the Electronic Product Code (EPC) and the associated interface standard (EPCIS) - for solutions in industry, retail and logistics. As a trusted partner, EECC integrates its own certified EPCIS solution EPCAT into various IT ecosystems and process landscapes, where it is used for the standardised tracking of individual objects and products at batch level. Creating solutions for sustainability is a declared goal of EECC, which is further developing its solutions, for example in the CIRC4Life project funded by the European Commission.
                    .col-lg-6
                        .testimonial-item.mx-3.mx-md-auto.mb-5.m-lg-5
                            a(href='https://www.infosim.net/de/' target='_blank')
                                img.img-fluid.rounded-circle(src='assets/img/infosim_logo.png', alt='Infosim')
                                h5.my-3 Infosim
                            p.font-weight-light.mb-0.text-start.text-md-center The Infosim Group is a leading manufacturer of automated service fulfilment and service assurance solutions, specialising in the configuration, monitoring and performance monitoring of IT infrastructures. It also has expertise in the visualisation, analysis and optimisation of business processes in ERP systems, e.g. as a certified Microsoft partner. Infosim maintains co-operations with numerous scientific institutions and is actively involved in research projects. Thanks to its wide-ranging areas of expertise in the COPPA consortium, Infosim will primarily take on tasks that enable and ensure platform operation. This will enable dynamically customisable applications for various clients (users and service providers) in the ecosystem and allow smooth communication across the platform levels.
                    .col-lg-6
                        .testimonial-item.mx-3.mx-md-auto.mb-5.m-lg-5
                            a(href='https://www.gs1-germany.de/' target='_blank')
                                img.img-fluid.rounded-circle(src='assets/img/gs1_logo.png', alt='GS1G')
                                h5.my-3 GS1 Germany
                            p.font-weight-light.mb-0.text-start.text-md-center GS1 Germany is a not-for-profit organisation and independently and neutrally supports companies in various industries in applying standards for identification, electronic communication for transactions and processes in practice in order to improve the efficiency of their business processes. GS1G is the second largest of more than 110 country organisations in the global GS1 network, is responsible in Germany for the worldwide overlap-free Global Trade Item Number (GTIN, formerly EAN barcode) system and promotes the use of new technologies for the fully automatic identification of objects (EPC/RFID), automatic recording and the exchange of electronic information (EDI and EPCIS). The cloud-based platform GS1 ECOtraxx supports the digital and efficient distribution of sustainability information between stakeholders in the supply chain.
                    .col-lg-6
                        .testimonial-item.mx-3.mx-md-auto.mb-5.m-lg-5
                            a(href='https://reifenhauser.com/de/' target='_blank')
                                img.img-fluid.rounded-circle(src='assets/img/reifenhauser_logo.png', alt='Reifenhäuser')
                                h5.my-3 Reifenhäuser
                            p.font-weight-light.mb-0.text-start.text-md-center The Reifenhäuser Group supplies customised systems and components for the production of high-quality blown film, cast film, calendered film and nonwovens, with which producers serve the market, their own success and the environment. Four business units cover almost the entire spectrum of plastic packaging production. The company has more than 100 years of experience in the field of plastics technology, making it one of the leading companies in the industry. Among other things, the company is involved in the R-Cycle initiative, in which a cross-industry, open system is being developed that makes it possible to track the manufacture of plastic products throughout the product life cycle in order to enable complete recycling of the end product.
        // Call to Action
        section#signup.call-to-action.text-white.text-center
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        h2.mb-4 Questions? Please contact us!

                        a.btn.btn-light.text-primary.btn-lg(href='mailto:s.botsch@skz.de') Mail
                            i.bi.bi-envelope.ms-3




        include components/footer.pug

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        .div(id='preloader')
            img(src='assets/img/logo/xs.png')

        // AOS
        script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')

        // Core theme JS
        script(src='js/scripts.js')
