doctype html
html(lang='de')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='News aus dem COPPA Förderprojekt für die Plastik Kreislaufwirtschaft')
        meta(name='author', content='')

        title COPPA News - Circular Plastic Economy

        // Favicon
        link(rel='icon', type='image/x-icon', href='/assets/favicon.ico')

        link(rel='preload' href='/assets/img/logo/xs.png' as='image')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // AOS
        link(href='https://unpkg.com/aos@2.3.1/dist/aos.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='/css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.fixed-top.navbar-expand-lg.bg-light.shadow
            .container
                a.navbar-brand.me-5(href='/')
                    h1.text-primary.navbar-logo
                        | C
                        img(src='/assets/img/logo/md.png', alt='COPPA')
                        | PPA

                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                .collapse.navbar-collapse(id='navbarNav')
                    ul.navbar-nav.navbar-nav-scroll
                        li.nav-item
                            a.nav-link.text-primary(href="#") News
                        li.nav-item
                            a.nav-link(href="/#goals") Ziele
                        li.nav-item
                            a.nav-link(href="/#workingpackages") Arbeitspakete
                        li.nav-item
                            a.nav-link(href="/#partners") Partner
                    

        // Masthead
        header.news.masthead
            .container.position-relative
                .row.justify-content-evenly
                    .col-xl-6.align-self-center
                        .text-center.text-xl-end.text-white
                            // Page heading
                            h1 COPPA News
                            h2.text-secondary.mb-5 Die aktuellen Entwicklungen im Projekt

                    .col-6.col-xl-3.align-self-center.rotating.text-center
                        img.w-75(src='/assets/img/logo/lg.png', alt='COPPA', data-aos='spin-in', data-aos-duration='2000')


        section.news
            .container.py-5

                .row.g-5

                    // Header article
                    .col-lg-6.px-md-5
                        img.w-100.pt-3(src='https://i1.sndcdn.com/artworks-9OnOLyXS8xwfjsTk-oum7XA-t500x500.jpg', alt='Podcast')
                    .col-lg-6.px-md-5
                        h3.text-primary.my-3 COPPA beim SKZ - Podcast "Kunststoff Nachgefragt"
                        p In dieser Folge verbinden sich zwei der absoluten Trendthemen in der Kunststoffindustrie. Digitalisierung und Nachhaltigkeit. Zu Gast bei "Kunststoff Nachgefragt", dem SKZ Podcast, sind Roman Winter von der GS1-Germany GmbH und Georg Schwering von der European EPC Competence Center GmbH (EECC). Sie sprechen über das Projekt COPPA, den digitalen Produktpass für Lebensmittelverpackungen und welche Möglichkeiten dies für Rezyklatanwendungen und die Ermittlung des Carbon Footprint schafft.

                        iframe(width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1517507824&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true")
                        div(style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;")
                            a(href="https://soundcloud.com/user-685808333" title="SKZ" target="_blank" style="text-decoration: none;") SKZ
                            a(href="https://soundcloud.com/user-685808333/folge-67-r-winter-gs1-g-schwering-eecc-lebensmittelverpackung-und-digitaler-produktpass" title="Folge 67 - R. Winter (GS1) &amp; G. Schwering (EECC) - Lebensmittelverpackung und digitaler Produktpass" target="_blank" style="text-decoration: none;") Folge 67 - R. Winter (GS1) &amp; G. Schwering (EECC) - Lebensmittelverpackung und digitaler Produktpass

                        .row.justify-content-between.mt-5
                            .col-sm-6.my-2
                                a.text-primary(href='https://soundcloud.com/user-685808333/folge-67-r-winter-gs1-g-schwering-eecc-lebensmittelverpackung-und-digitaler-produktpass') Reinhören
                                    i.bi.bi-arrow-right-short
                            .col-sm-6.text-end.my-2
                                small.text-muted 
                                    | 03. August 2023 - Sophia Botsch
                                    img.mx-1.mb-1(src='/assets/img/logo/xs.png', alt='COPPA')
                    

                    // Sub articles
                    // Article divider - don't touch
                    .col-12.text-center
                        div.mx-auto.w-75.border-bottom.border-2.border-secondary.border-opacity-50.my-5
                    // --------------------------------------------------------------------------------

                    // EECC Whitepaper article
                    .col-lg-6.px-md-5
                        .teaser-image.w-100(style="background-image: url('https://media.licdn.com/dms/image/D4E12AQFLCXFToYmnUg/article-cover_image-shrink_600_2000/0/1682416611800?e=2147483647&v=beta&t=mGx8Gp1VeOs7Mgks_WEfmsZdx1T_yLGmVkJjzn15Few');")
                        h3.text-primary.my-3 Datenströme der Zukunft - Der Wert von signierten Daten
                        p In der heutigen Welt dürfte jedem der Wert und die Wichtigkeit von Daten bewusst sein. Daten sind omnipräsent und bilden die Basis unserer modernen Wirtschaft. Die Überprüfung von Qualität, Authentizität und Ursprung der Daten kommt besonders bei komplexen Supply Chains oder einer Kreislaufwirtschaft zum Tragen.
                        .row.justify-content-between.mt-auto
                            .col-sm-4.my-2
                                a.text-primary(href='https://www.linkedin.com/pulse/datenstr%25C3%25B6me-der-zukunft-wert-von-signierten-daten-eecc-gmbh/') Weiterlesen
                                    i.bi.bi-arrow-right-short
                            .col-sm-8.text-end.my-2
                                small.text-muted 
                                    | 25. April 2023 - Christian Fries
                                    img.mx-1.mb-1(src='/assets/img/logo/xs.png', alt='COPPA')

                    // KMAG Interview article
                    .col-lg-6.px-md-5.d-flex.flex-column
                        .teaser-image.w-100(style="background-image: url('/assets/img/news/Interview.jpg');")
                        h3.text-primary.my-3 Circular Collaboration Plattform: für mehr Rezyklate in Lebensmittelverpackungen
                        p Interview von K-MAG mit Dr. Hermann Achenbach, Gruppenleiter Nachhaltigkeit und Kreislaufwirtschaft, Das Kunststoff-Zentrum SKZ
                        .row.justify-content-between.mt-auto
                            .col-sm-4.my-2
                                a.text-primary(href='https://mag.k-online.de/de/COPPA_Circular_Collaboration_Plattform_Rezyklate_Lebensmittelverpackungen') Weiterlesen
                                    i.bi.bi-arrow-right-short
                            .col-sm-8.text-end.my-2
                                small.text-muted 
                                    | 21. April 2023 - Elena Blume (Redaktion K-MAG)
                                    img.mx-1.mb-1(src='/assets/img/logo/xs.png', alt='COPPA')



        include ../components/footer.pug

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        .div(id='preloader')
            img(src='/assets/img/logo/xs.png')

        // AOS
        script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')

        // Core theme JS
        script(src='/js/scripts.js')
