// 
// Global
// 

// Use this file to add styling to your theme

// hide AOS overflow on mobile
@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }
}

[data-aos="spin-in"] {
    transform: rotate(360deg) scale(.2);
    opacity: 0;
    transition-property: transform, opacity;

    &.aos-animate {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    overflow: hidden;
    background: rgba(255, 255, 255, 1.0);
}

#preloader img {
    position: fixed;
    z-index: 9999;
    top: calc(50% - 40px);
    left: calc(50% - 45px);
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}



@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}