// 
// Global
// 

// Use this file to add styling to your theme

// hide AOS overflow on mobile
@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }
}

[data-aos="spin-in"] {
    transform: rotate(360deg) scale(.2);
    opacity: 0;
    transition-property: transform, opacity;

    &.aos-animate {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}